.flash-box{style: 'user-select: auto'}
  .notice{style: 'user-select: auto'}
    グループを作成しました
.wrapper{style: 'user-select: auto'}
  = render partial: "shared/side_bar"
  .chat-main{style: 'user-select: auto'}
    .main-header{style: 'user-select: auto'}
      .main-header__left-box{style: 'user-select: auto'}
        %h2.main-header__left-box__current-group{style: 'user-select: auto'}
          sample
        %ul.main-header__left-box__member-list{style: 'user-select: auto'}
          Member:
          %li.main-header__left-box__member-list__member{style: 'user-select: auto'}
            seo
          %li.main-header__left-box__member-list__member{style: 'user-select: auto'}
            neko
      .main-header__edit-btn{style: 'user-select: auto', type: 'submit', value: 'Edit'}
        Edit
    .messages{style: 'user-select: auto'}
      .message{style: 'user-select: auto'}
        .message__upper-info{style: 'user-select: auto'}
          %p.message__upper-info__talker{style: 'user-select: auto'}
            seo
          %p.message__upper-info__date{style: 'user-select: auto'}
            2019/10/27(Sun) 11:11:11
        %p.message__text{style: 'user-select: auto'}
          Hello world!
      .message{style: 'user-select: auto'}
        .message__upper-info{style: 'user-select: auto'}
          %p.message__upper-info__talker{style: 'user-select: auto'}
            neko
          %p.message__upper-info__date{style: 'user-select: auto'}
            2019/10/28(Mon) 10:10:10
        %p.message__text{style: 'user-select: auto'}
          Good bye world!
    .form{style: 'user-select: auto'}
      %form.new_message{enctype: 'multipart/form-data', style: 'user-select: auto'}
        .input-box{style: 'user-select: auto'}
          %input.input-box__text{placeholder: 'type a message', type: 'text', name: 'massage[content]', style: 'user-select: auto'}
          %label.input-box__image{for: 'message_image', style: 'user-select: auto'}
            %i.fa.fa-image{style: 'user-select: auto'}
              -# = fa_icon 'picture-o', class: 'icon'
            %input.input-box__image__file{type: 'file', name: 'message[image]', style: 'user-select: auto'}
        %input.submit-btn{type: 'submit',name: 'commit', value: 'Send', style: 'user-select: auto'}

