.wrapper
  = render 'shared/side_bar'
  .chat-main
    .main-header
      .main-header__left-box
        %h2.main-header__left-box__current-group
          sample
        %ul.main-header__left-box__member-list
          Member:
          %li.main-header__left-box__member-list__member
            seo
          %li.main-header__left-box__member-list__member
            neko
      .main-header__edit-btn{type: 'submit', value: 'Edit'}
        = link_to 'Edit', "/groups/1/edit", method: :get, class: "EDITlink"


    .messages
      .message
        .message__upper-info
          %p.message__upper-info__talker
            seo
          %p.message__upper-info__date
            2019/10/27(Sun) 11:11:11
        %p.message__text
          = @message
      .message
        .message__upper-info
          %p.message__upper-info__talker
            neko
          %p.message__upper-info__date
            2019/10/28(Mon) 10:10:10
        %p.message__text
          Good bye world!
    .form
      %form.new_message{enctype: 'multipart/form-data'}
        .input-box
          %input.input-box__text{placeholder: 'type a message', type: 'text', name: 'massage[content]'}
          %label.input-box__image{for: 'message_image'}
            %i.fa.fa-image
            %input.input-box__image__file{type: 'file', name: 'message[image]'}
        %input.submit-btn{type: 'submit',name: 'commit', value: 'Send'}
