.chat-side{style: 'user-select: auto'}
  .side-header{style: 'user-select: auto'}
    .side-header__box{style: 'user-select: auto'}
      %p.side-header__box__user-name{style: 'user-select: auto'}
        seo
      %ul.side-header__box__menu{style: 'user-select: auto'}
        %li.side-header__box__menu__new-group{style: 'user-select: auto'}
          %i.fa.fa-edit{style: 'user-select: auto'}
        %li.side-header__box__menu__edit-user{style: 'user-select: auto'}
          %i.fa.fa-cog{style: 'user-select: auto'}
  .groups{style: 'user-select: auto'}
    .group{style: 'user-select: auto'}
      %p.group__group-name{style: 'user-select: auto'}
        sample
      %p.group__latest-message{style: 'user-select: auto'}
        新着メッセージ
    .group{style: 'user-select: auto'}
      %p.group__group-name{style: 'user-select: auto'}
        sample
      %p.group__latest-message{style: 'user-select: auto'}
        新着メッセージ