.chat-side
  .side-header
    .side-header__box
      -# %p.side-header__box__user-name
      -# ユーザ名を表示させるためビューファイルを変更
      %h3.side-header__box__user-name
        -# ユーザーネーム
        = current_user.name
      %ul.side-header__box__menu
        %li.side-header__box__menu__new-group
          = link_to new_group_path do
            %i.fa.fa-edit{class: 'no-color-change'}
        %li.side-header__box__menu__edit-user
          = link_to edit_user_path(current_user) do
            %i.fa.fa-cog{class: 'no-color-change'}



  .groups
    .group
      %p.group__group-name
        sample
      %p.group__latest-message
        新着メッセージ
    .group
      %p.group__group-name
        sample
      %p.group__latest-message
        新着メッセージ