.chat-side{
  user-select: $style;
  width: 300px;
  height: 100%;
  color: $sideWhiteColor;  
  float: left;
  .side-header{
    background-color: #253141;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    &__box{
      display: flex;
      justify-content: space-between;
      width: 100%;
      font-weight: bold;
      &__menu{
        display: flex;
        &__new-group{          
          margin-left: 0.3rem;

        }
        &__edit-user{
          margin-left: 0.3rem;
        }
      }
    }
  }


  .groups{
    height: calc(100vh - 121px);
    background-color: #2f3e51;
    color: $sideWhiteColor;
    padding: 20px 20px 0;
    overflow: scroll;
    text-decoration: none;
  
  .group{
    margin-bottom: 40px;
      .Grouplink{
        text-decoration: none;
      }     
    &__group-name{
      font-size: 15px;
      margin-bottom: 5px; 
    }
    &__latest-message{
      text-decoration: none;      
      font-size: 11px;

    }
  }
  }
}

.fa{
  user-select: $style;
  @include fa();
}

.side-no-color-change{
  color: white;

}
